:root{
  font-size:18px;
  font-family:Arial, Helvetica, sans-serif;
  height:100%;
  --first-color:#005689;
  --second-color:#2b85b3;
  --third-color:#d5eeff;
  --fourth-color:#4a7750;
}

body{
  position:relative;
  height:100vh;
  background-color:var(--third-color);
  overflow: hidden;
  color:var(--first-color);
}

.main-layout{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding:32px;
  flex:1;
  height:100%;
  align-items: center;
}

.center-panel{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-self:start;
}

.game-board{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size:200px;
  gap:0px;
  place-items: stretch;
  text-align: center;
}

checkbox{
  width:32px;
  height:32px;
}

.game-board button{
  border-style:none;
  background-color: var(--second-color);
  color:white;
}

h1{
  font-size:64px;
  margin-bottom:32px;
  border: 5px solid var(--second-color);
  border-radius: 16px;
  padding:16px;
  margin-top:32px;
}

h2{
  padding-bottom:16px;
  font-size:32px;
}

h3{
  padding:16px 0px 16px 0px;
  font-size:24px;
}

p{
  color:var(--fourth-color);
}
.tic-tac-toe-slot{
  min-width:200px;
  min-height: 200px;
  font-size:160px;
}

.tic-tac-toe-slot:nth-child(3n + 2){
  border-right: solid var(--first-color) 3px;
  border-left: solid var(--first-color) 3px;
}

.tic-tac-toe-slot:nth-child(n+4):nth-child(-n+6){
  border-top: solid var(--first-color) 3px;
  border-bottom: solid var(--first-color) 3px;
}

.replay-button{
  margin-top:16px;
  display:none;
  font-size:48px;
  border-radius:16px;
  width:50%;
  background-color: var(--fourth-color);
  color:white;
}

.player1-div{
  text-align:right;

  margin-right:32px;
}

.player2-div{
  padding:32px;
  margin-left:32px;
}

.player1-div,
.player2-div{
  height:50%;
  border: 5px solid var(--second-color);
  border-radius: 16px;
  padding:32px;
  background-color: var(--first-color);
  color:white;
}

.modal{
  display:none;
  background-color: rgba(0,0,0,.4);
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.modal-content{
  width:40%;
  height:40vh;
  margin-left:30%;
  margin-top:30vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  background-color: white;
  border-radius: 5%;
}

.active{
  border: 5px orange solid;
}